<header class="header">
  <div class="header__container container">
    <nav class="header-nav">
      <a href="./index.html" class="header-nav__logo animate__animated animate__flip">
        <svg class="logo-icon " width="70" height="56">
          <use href="./images/svg/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="header-list">
        <li class="header-list__item">
          <a class="header-list__link" href="#about">О нас</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#prices">Услуги и цены</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#masters">Мастера</a>
        </li>
        <li class="header-list__item">
          <a class="header-list__link" href="#contacts">Контакты</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="open-btn" data-menu-open-btn>
      <span></span>
    </button>
    <div class="header-connect">
      <a class="header-connect__contact" href="tel:+380441111111">+38 044 111 11 11</a>
      <button class="header-connect__btn btn" data-open-btn type="button">онлайн-запись</button>
    </div>
    <div class="backdrop is-hidden" data-menu-backdrop>
      <div class="mob-menu">
        <div class="mob-menu__top">
          <button type="button" class="mob-menu__btn-close" data-menu-close-btn>
            <span></span>
          </button>
          <ul class="mob-menu__list">
            <li class="mob-menu__item">
              <a href="#about" class="mob-menu__link">О нас</a>
            </li>
            <li class="mob-menu__item">
              <a href="#prices" class="mob-menu__link">Услуги и цены</a>
            </li>
            <li class="mob-menu__item">
              <a href="#masters" class="mob-menu__link">Мастера</a>
            </li>
            <li class="mob-menu__item">
              <a href="#contacts" class="mob-menu__link">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="mob-menu__bottom">
          <a class="mob-menu__tel" href="tel:+380441111111">+38 044 111 11 11</a>
          <button type="button" class="mob-menu__btn btn btn-dark">онлайн-запись</button>
        </div>

        <ul class="mob-menu__social">
          <li class="mob-menu__social-item">
            <a href="https://www.instagram.com/" class="mob-menu__social-link">Instagram</a>
          </li>
          <li class="mob-menu__social-item">
            <a href="https://www.youtube.com/" class="mob-menu__social-link">Youtube</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>