<section class="hero">
  <div class="container hero__container">
    <ul class="hero-list">
      <li class="hero-list__item">
        <a class="hero-list__link pre-title_dark" href="https://www.instagram.com/">Instagram</a>
      </li>
      <li class="hero-list__item">
        <a class="hero-list__link" href="https://www.youtube.com/">Youtube</a>
      </li>
    </ul>
    <div class="hero-right">
      <p lang="en" class="hero__pre-title pre-title_light">A hair salon for men in Kyiv</p>
      <h1 class="hero__title" lang="en">BarberShop</h1>
      <p class="hero__after-title">
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со вкусом.
      </p>
    </div>
  </div>
</section>
