<section class="section masters" id="masters">
  <div class="container masters-container">
    <p class="masters__pre-text pre-title_dark">Для настоящих ценителей атмосферы</p>
    <h2 class="masters__title">Наши мастера</h2>
    <ul class="masters__list">
      <li class="masters__item">
        <div class="masters__item-wrapper">
          <picture>
            <source
              srcset="
                ./images/master/img1-desktop-1x.jpg 1x,
                ./images/master/img1-desktop-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/master/img1-tab-1x.jpg 1x, ./images/master/img1-tab-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/master/img1-mob-1x.jpg 1x, ./images/master/img1-mob-2x.jpg 2x"
              media="(min-width: 480px)"
            />
            <img
              src="./images/master/img1-mob-1x.jpg"
              alt="барбер Джон Смит стрижет клиента"
              class="masters-img"
            />
          </picture>

          <!-- <img
            src="./images/master/master-img1.jpg"
            alt="барбер Джон Смит стрижет клиента"
            width="370"
            height="346"
            class="masters-img"
          /> -->
          <p class="masters__top-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fugiat expedita eius
            asperiores perspiciatis repellat, voluptates dolorum sint consequatur nostrum illum sunt
            sequi quo, magni recusandae enim ducimus obcaecati eos?
          </p>
        </div>
        <h3 class="masters__item-title">John Smith</h3>
        <p class="masters__item-text">Extreme Barber</p>
        <ul class="masters__item-list social-list">
          <li class="social-list__item">
            <a href="https://www.instagram.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="https://uk-ua.facebook.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="https://twitter.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="https://www.linkedin.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="masters__item">
        <div class="masters__item-wrapper">
          <picture>
            <source
              srcset="
                ./images/master/img2-desktop-1x.jpg 1x,
                ./images/master/img2-desktop-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/master/img2-tab-1x.jpg 1x, ./images/master/img2-tab-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/master/img2-mob-1x.jpg 1x, ./images/master/img2-mob-2x.jpg 2x"
              media="(min-width: 480px)"
            />
            <img
              src="./images/master/img2-mob-1x.jpg"
              alt="барбер Джон Смит стрижет клиента"
              class="masters-img"
            />
          </picture>
          <!-- <img
            src="./images/master/master-img2.jpg"
            alt="барбер Джон Смит стрижет клиента"
            width="370"
            height="346"
            class="masters-img"
          /> -->
          <p class="masters__top-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fugiat expedita eius
            asperiores perspiciatis repellat, voluptates dolorum sint consequatur nostrum illum sunt
            sequi quo, magni recusandae enim ducimus obcaecati eos?
          </p>
        </div>
        <h3 class="masters__item-title">Michele Doe</h3>
        <p class="masters__item-text">Extreme Barber</p>
        <ul class="masters__item-list social-list">
          <li class="social-list__item">
            <a href="https://www.instagram.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="https://uk-ua.facebook.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="https://twitter.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="https://www.linkedin.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="masters__item">
        <div class="masters__item-wrapper">
          <picture>
            <source
              srcset="
                ./images/master/img3-desktop-1x.jpg 1x,
                ./images/master/img3-desktop-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="./images/master/img3-tab-1x.jpg 1x, ./images/master/img3-tab-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/master/img3-mob-1x.jpg 1x, ./images/master/img3-mob-2x.jpg 2x"
              media="(min-width: 480px)"
            />
            <img
              src="./images/master/img3-mob-1x.jpg"
              alt="барбер Джон Смит стрижет клиента"
              class="masters-img"
            />
          </picture>
          <!-- <img
            src="./images/master/master-img3.jpg"
            alt="барбер Джон Смит стрижет клиента"
            width="370"
            height="346"
            class="masters-img"
          /> -->
          <p class="masters__top-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fugiat expedita eius
            asperiores perspiciatis repellat, voluptates dolorum sint consequatur nostrum illum sunt
            sequi quo, magni recusandae enim ducimus obcaecati eos?
          </p>
        </div>
        <h3 class="masters__item-title">Alan Black</h3>
        <p class="masters__item-text">Extreme Barber</p>
        <ul class="masters__item-list social-list">
          <li class="social-list__item">
            <a href="https://www.instagram.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="https://uk-ua.facebook.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="https://twitter.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="https://www.linkedin.com/" class="social-list__link">
              <svg class="social-list__icon" width="20" height="20">
                <use href="./images/svg/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
