<section class="section prices" id="prices">
  <div class="container">
    <p class="prices__pre-text pre-title_light">Проведи час у компанії кращих майстрів</p>
    <h2 class="prices__title">Послуги та ціни</h2>
    <ul class="prices__list">
      <li class="prices__list-item prices__item_side_left">
        <ul class="prices__inner-list">
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Чоловіча стрижка</p>
            <p class="prices__item-text">від 300 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Стрижка бороди</p>
            <p class="prices__item-text">від 200 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Стрижка вусів</p>
            <p class="prices__item-text">від 200 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Гоління небезпечною бритвою</p>
            <p class="prices__item-text">від 200 грн.</p>
          </li>
        </ul>
      </li>
      <li class="prices__list-item prices__item_side_right">
        <ul class="prices__inner-list">
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Стрижка у стажера</p>
            <p class="prices__item-text">від 50 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Стрижка під насадку</p>
            <p class="prices__item-text">від 200 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Дитяча стрижка (до 12 років)</p>
            <p class="prices__item-text">від 300 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Камуфлювання сивини</p>
            <p class="prices__item-text">від 200 грн.</p>
          </li>
        </ul>
      </li>
    </ul>
    <button type="button" data-open-btn-prices class="prices__btn btn btn-light">онлайн-запис</button>
  </div>
</section>