<section class="section prices" id="prices">
  <div class="container">
    <p class="prices__pre-text pre-title_light">Проведи время в компании лучших мастеров</p>
    <h2 class="prices__title">Услуги и цены</h2>
    <ul class="prices__list">
      <li class="prices__list-item prices__item_side_left">
        <ul class="prices__inner-list">
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Мужская стрижка</p>
            <p class="prices__item-text">от 300 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Стрижка бороды</p>
            <p class="prices__item-text">от 200 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Стрижка усов</p>
            <p class="prices__item-text">от 200 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Бритье опасной бритвой</p>
            <p class="prices__item-text">от 200 грн.</p>
          </li>
        </ul>
      </li>
      <li class="prices__list-item prices__item_side_right">
        <ul class="prices__inner-list">
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Cтрижка у стажера</p>
            <p class="prices__item-text">от 50 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Стрижка под насадку</p>
            <p class="prices__item-text">от 200 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Детская стрижка (до 12 лет)</p>
            <p class="prices__item-text">от 300 грн.</p>
          </li>
          <li class="prices__inner-item">
            <p class="prices__item-text prices__item-text-descr">Камуфлирование седины</p>
            <p class="prices__item-text">от 200 грн.</p>
          </li>
        </ul>
      </li>
    </ul>
    <button type="button" class="prices__btn btn btn-light">онлайн-запись</button>
  </div>
</section>
