<section class="section reasons">
  <div class="container reasons-container">
    <div class="reasons__wrap">
      <ul class="reasons__list">
        <li class="reasons__list-item">
          <span class="reasons__list-digit">600</span>
          <p class="reasons__list-text">Довольных клиентов в день</p>
        </li>
        <li class="reasons__list-item">
          <span class="reasons__list-digit">50</span>
          <p class="reasons__list-text">Наград за отличный сервис</p>
        </li>
        <li class="reasons__list-item">
          <span class="reasons__list-digit">20</span>
          <p class="reasons__list-text">Лучших мастеров Киева</p>
        </li>
        <li class="reasons__list-item reasons-item-different">
          <span class="reasons__list-digit">100</span>
          <p class="reasons__list-text">Подарков постоянным клиентам</p>
        </li>
      </ul>
    </div>
    <div class="reasons__right">
      <p class="reasons__right-pre-title pre-title_dark">старая традиционная школа</p>
      <h2 class="reasons__right-title">Почему приходят именно к нам?</h2>
      <p class="reasons__right-after-title">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.
      </p>
    </div>
  </div>
</section>
