<section class="section reasons">
  <div class="container reasons-container">
    <div class="reasons__wrap">
      <ul class="reasons__list">
        <li class="reasons__list-item">
          <span class="reasons__list-digit">600</span>
          <p class="reasons__list-text">Задоволених клієнтів на день</p>
        </li>
        <li class="reasons__list-item">
          <span class="reasons__list-digit">50</span>
          <p class="reasons__list-text">Нагород за відмінний сервіс</p>
        </li>
        <li class="reasons__list-item">
          <span class="reasons__list-digit">20</span>
          <p class="reasons__list-text">Найкращих майстрів Києва</p>
        </li>
        <li class="reasons__list-item reasons-item-different">
          <span class="reasons__list-digit">100</span>
          <p class="reasons__list-text">Подарунків постійним клієнтам</p>
        </li>
      </ul>
    </div>
    <div class="reasons__right">
      <p class="reasons__right-pre-title pre-title_dark">стара традиційна школа</p>
      <h2 class="reasons__right-title">Чому приходять саме до нас?</h2>
      <p class="reasons__right-after-title">
        Про нас говорять лише гарне. Але краще 1 раз побачити та відчути, ніж 10 разів прочитати.
      </p>
    </div>
  </div>
</section>