.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  @extend %flex-align;
  justify-content: center;
  height: 100%;

  border-radius: 50%;
  background-color: var(--main-title-color);
  transition: background-color 300ms ease;
  &:hover,
  &:focus {
    background-color: var(--main-title-color);
    @extend %transition;
  }
}

.social-list__icon {
  transition: fill 300ms ease;
  fill: var(--third-text-color);
  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--accent-color);
    @extend %transition;
  }
}
